.scroll-container {
  width: 500px;
  height: 200px;
  overflow: hidden;

  .container {
    width: 500px;
    height: 800px;
  }
}

.scroll-container:hover {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}

span {
  display: inline-block;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
