<div class="container">
  <ul>
    <li>
      <a [routerLink]="['/sanitizer']">DomSanitizer</a>
    </li>
    <li>
      <a [routerLink]="['/renderer2']">renderer2</a>
    </li>
    <li>
      <a [routerLink]="['/input']">input</a>
    </li>
    <li>
      <a [routerLink]="['/dynamic/component']">dynamic-component</a>
    </li>
    <li>
      <a [routerLink]="['/form']">form</a>
    </li>
    <li>
      <a [routerLink]="['/scroll']">scroll</a>
    </li>
    <li>
      <a [routerLink]="['/copy']">copy</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
