.stars {
  cursor: pointer;
  display: flex;
  align-items: center;

  .point {
    color: gray;
    padding: 5px;
  }

  &:hover {
    .star .icon-start {
      color: #ffd055;
    }
  }

  &.disabled:hover {
    cursor: not-allowed;
    .star {
      .icon-start {
        color: gray;
      }
    }
  }

  .star {
    padding: 5px;

    .icon-start {
      color: gray;
      font-size: 25px;
      line-height: 25px;
    }

    &:hover ~ .star {
      color: gray;

      .icon-start {
        color: gray;
      }
    }

    &.selected {
      .icon-start {
        color: #ffd055;
      }
    }
  }
}
